.container {
  height: 400px;
  position: relative;
}

.map {
  height: inherit;
}

.sidebar {
  background-color: rgb(35 55 75 / 90%);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  margin: 12px;
  border-radius: 4px;
  position: absolute;
  z-index: 2;
}

.overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  background-color: rgba(127 127 127 / 66%);
  height: inherit;
  width: 100%;
  font-size: 1.5rem;
}
